# Ignorar archivos compilados
*.pyc
__pycache__/
.vscode
migrations/

# ignorar imagenes de productos
media/

# ignorar archivos de entorno virtual
.venv/

# ignorar sqlite database
*.sqlite3
proyectoDjango/capstoneEcommerce/db.sqlite3
