{% extends "base.html" %}

{% block head %}
<style>
    .contenedorForm {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
{% endblock head %}

{% block body %}

<div class="contenedorForm">

    <form method="post" class="d-flex flex-column align-items-center justify-content-center">
        {% csrf_token %}

        <div class="input-container mb-3">
            {{ form.email.errors }}
            <input type="email" name="{{ form.email.name }}" class="input-field"
                value="{{ form.email.value|default:'' }}" id="id_email">
            <label class="input-label" for="id_email">Correo electrónico</label>
            <span class="input-highlight"></span>
        </div>

        <button type="submit" class="botonGenerico mt-2">Enviar enlace</button>
    </form>

</div>
{% endblock body %}