{% extends "base.html" %}

{% block head %}
<style>
    .contenedorForm {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
{% endblock head %}

{% block body %}

<div class="contenedorForm">
    <p class="parrafo">Se envió un enlace de recuperación si el correo existe.</p>
    <p class="parrafo">Si no te llega ningun correo contacta al soporte usando este correo: soporte@example.com</p>
</div>
{% endblock body %}