{% extends "base.html" %}

{% block head %}
<style>
    .contenedorForm {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
{% endblock head %}

{% block body %}

<div class="contenedorForm">

    <form method="post" class="d-flex flex-column align-items-center justify-content-center">
        {% csrf_token %}

        <div class="input-container mb-5">
            {{ form.new_password1.errors }}
            <input type="password" name="{{ form.new_password1.name }}" class="input-field" id="id_new_password1">
            <label class="input-label" for="id_new_password1">Nueva contraseña</label>
            <span class="input-highlight"></span>
        </div>

        <div class="input-container mb-3">
            {{ form.new_password2.errors }}
            <input type="password" name="{{ form.new_password2.name }}" class="input-field" id="id_new_password2">
            <label class="input-label" for="id_new_password2">Confirmar contraseña</label>
            <span class="input-highlight"></span>
        </div>

        <button type="submit" class="botonGenerico mt-3">Cambiar contraseña</button>
    </form>

</div>
{% endblock body %}