.contenedorActualizarUsuario {
	background-color: var(--cafeMainSecundario2);
    padding-top: 40px;
    padding-bottom: 40px;
}

.card {
    width: 95%;
}

@media (min-width: 576px) {
    .card {
        width: 70%;
    }

    .contenedorActualizarUsuario {
        padding-top: 160px;
        padding-bottom: 160px;
    }
}