.superGrilla {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 576px) {
    .superGrilla {
        display: grid;
        background-color: var(--blanco5);
        row-gap: 16px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "img1 texto"
            "img2 texto"
            "texto2 img3"
            "texto2 img4";
    }

    .contenedorImg1 {
        grid-area: img1;
    }

    .contenedorImg2 {
        grid-area: img2;
    }

    .textoGrilla1 {
        grid-area: texto;
    }

    .textoGrilla2 {
        grid-area: texto2;
    }

    .contenedorImg3 {
        grid-area: img3;
    }

    .contenedorImg4 {
        grid-area: img4;
    }
}

.img1,
.img2,
.img3,
.img4 {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

