{% extends "base.html" %}
{% load static %}

{% block head %}
<title>ActualizarProducto | Novacommerce</title>
<link rel="stylesheet" href="{% static 'css/actualizarP.css' %}">
{% endblock head %}



{% block body %}

<div class="contenedorRegistro py-4 d-flex flex-column align-items-center">

    <input type="number" id="productoId" value="{{producto.id}}" hidden>
    <input type="number" id="categoriaPrincipalId" value="{{producto.categoriaPrincipal.id}}" hidden>

    <div class="ContenedorSecundario card p-4">
        <h3 class="text-center mb-3 head3">Actualizar Producto {{producto.nombre}}</h3>

        <form action="" id="editarproducto" class="row mt-4">

            <!-- Nombre -->

            <div class="col-12 col-sm-6 m-0 p-0 px-2 mb-5 d-flex flex-column align-items-center">

                <div class="input-container w-95">
                    <input type="text" id="editNombreInput" class="input-field" placeholder="Nombre del producto"
                        value="{{producto.nombre}}">
                    <label class="input-label" for="editNombreInput">Nombre</label>
                    <span class="input-highlight"></span>
                </div>
            </div>

            <!-- Precio -->

            <div class="col-12 col-sm-6 m-0 p-0 px-2 mb-5 d-flex flex-column align-items-center">

                <div class="input-container w-95">
                    <input type="text" id="editPrecioInput" class="input-field" placeholder="Precio"
                        value="{{producto.precio}}">
                    <label class="input-label" for="editPrecioInput">Precio</label>
                    <span class="input-highlight"></span>
                </div>
            </div>

            <!-- Descripción -->

            <div class="col-12 col-sm-6 m-0 p-0 px-2 mb-5 d-flex flex-column align-items-center">

                <div class="input-container w-95">
                    <input type="text" id="editDescripcion" class="input-field" placeholder="Descripción"
                        value="{{producto.descripcion}}">
                    <label class="input-label" for="editDescripcion">Descripción</label>
                    <span class="input-highlight"></span>
                </div>
            </div>

            <!-- Stock -->

            <div class="col-12 col-sm-6 m-0 p-0 px-2 mb-5 d-flex flex-column align-items-center">

                <div class="input-container w-95">
                    <input type="number" id="editStockInput" class="input-field" placeholder="Stock" min="0" step="1"
                        inputmode="numeric" pattern="\d*" value="{{producto.stock}}">
                    <label class="input-label" for="editStockInput">Stock</label>
                    <span class="input-highlight"></span>
                </div>
            </div>

            <!-- Categoría principal -->

            <div class="col-12 col-sm-6 m-0 p-0 px-2 mb-5 d-flex flex-column align-items-center">

                <div class="input-container w-95">
                    <select id="categoriaPrincipalInput" class="select-field">
                    </select>
                    <label class="input-label" for="categoriaPrincipalInput">Categoría principal</label>
                    <span class="input-highlight"></span>
                </div>
            </div>

            <!-- Imagen -->

            <div class="col-12 col-sm-6 m-0 p-0 px-2 mb-5 d-flex flex-column align-items-center">

                <div class="input-container w-95">

                    <input type="file" id="editImgInput" class="file-hidden" accept="image/*">

                    <label class="input-label" for="editImgInput">Imagen</label>

                    <div class="file-wrapper">
                        <button type="button" class="file-button"
                            onclick="document.getElementById('editImgInput').click()">
                            Seleccionar archivo
                        </button>
                        <span class="file-name" id="editImgFileName">Ningún archivo</span>
                    </div>

                    <span class="input-highlight"></span>
                </div>
            </div>

            <!-- Categorías -->

            <div class="col-12 col-sm-6 m-0 p-0 px-2 mb-5 d-flex flex-column align-items-center">

                <div class="input-container w-95">
                    <select id="editCategoriaInput" class="select-field" aria-label="Selecciona una categoria">
                        <option value="" selected disabled>Selecciona una categoria</option>
                    </select>
                    <label class="input-label" for="editCategoriaInput">Categorias</label>
                    <span class="input-highlight"></span>
                </div>

                <div id="editPill" class="row w-100 gap-1 mt-2">
                    <!-- pills -->
                </div>
            </div>


            {% if producto.img.url != null %}

            <div class="col-12 col-sm-6 m-0 p-0 px-2 mb-sm-4 mb-2 d-flex flex-column align-items-center">
                <img id="imgPreview" src="{{ producto.img.url }}" class="img-fluid rounded">
            </div>

            {% endif %}

            <div class="col-12 m-0 p-0 px-2 d-flex justify-content-between mt-2">
                <a href="{% url 'panelControl' %}" class="botonGenerico">Volver</a>
                <button type="submit" class="botonSuccess">Guardar cambios</button>
            </div>

        </form>
    </div>

</div>

<script src="{% static 'js/actualizarP.js' %}"></script>
{% endblock body %}