{% load static %}
<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %}
    {% endblock head %}
</head>

<body>
    <nav class="navbar navbar-expand-lg bgColorVerdeOscuroMain p-2 m-0">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/coffee-shop.png' %}" width="50" height="50" class="imgNav">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="">
                        <a class="nav-link navItem" href="{% url 'home' %}">Inicio</a>
                    </li>

                    <li class="">
                        <a class="nav-link navItem" href="{% url 'tienda' %}">Tienda</a>
                    </li>

                    <li class="">
                        <a class="nav-link navItem" href="{% url 'home' %}">Nosotros</a>
                    </li>

                    {% if user.is_authenticated and user.tipoUsuario.nombre == 'Administrador' %}
                    <li class="">
                        <a class="nav-link navItem" href="{% url 'panelControl' %}">Administracion</a>
                    </li>
                    <li class="">
                        <a class="nav-link navItem" href="{% url 'metricas' %}">Metricas</a>
                    </li>
                    {% endif %}


                </ul>

                <form class="d-flex mb-3 mb-sm-0">
                    <input class="form-control me-2" placeholder="Buscar" />
                    <button class="botonGenerico" type="submit">Buscar</button>
                </form>

                <div class="d-flex">
                    <a class="nav-link navItem" href="{% url 'sitioLogin' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="userIcon"
                            fill="currentColor"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                            <path
                                d="M320 312C386.3 312 440 258.3 440 192C440 125.7 386.3 72 320 72C253.7 72 200 125.7 200 192C200 258.3 253.7 312 320 312zM290.3 368C191.8 368 112 447.8 112 546.3C112 562.7 125.3 576 141.7 576L498.3 576C514.7 576 528 562.7 528 546.3C528 447.8 448.2 368 349.7 368L290.3 368z" />
                        </svg>
                    </a>
                    <a class="nav-link navItem" href="{% url 'carrito' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="userIcon"
                            fill="currentColor"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                            <path
                                d="M320 64C326.6 64 332.9 66.7 337.4 71.5L481.4 223.5L481.9 224L560 224C577.7 224 592 238.3 592 256C592 270.5 582.4 282.7 569.2 286.7L523.1 493.9C516.6 523.2 490.6 544 460.6 544L179.3 544C149.3 544 123.3 523.2 116.8 493.9L70.8 286.7C57.6 282.8 48 270.5 48 256C48 238.3 62.3 224 80 224L158.1 224L158.6 223.5L302.6 71.5C307.1 66.7 313.4 64 320 64zM320 122.9L224.2 224L415.8 224L320 122.9zM240 328C240 314.7 229.3 304 216 304C202.7 304 192 314.7 192 328L192 440C192 453.3 202.7 464 216 464C229.3 464 240 453.3 240 440L240 328zM320 304C306.7 304 296 314.7 296 328L296 440C296 453.3 306.7 464 320 464C333.3 464 344 453.3 344 440L344 328C344 314.7 333.3 304 320 304zM448 328C448 314.7 437.3 304 424 304C410.7 304 400 314.7 400 328L400 440C400 453.3 410.7 464 424 464C437.3 464 448 453.3 448 440L448 328z" />
                        </svg>
                    </a>

                    {% if user.is_authenticated %}
                    <a class="nav-link navItem" href="{% url 'api-logout' %}" title="Cerrar sesión">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="userIcon"
                            fill="currentColor"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                            <path
                                d="M569 337C578.4 327.6 578.4 312.4 569 303.1L425 159C418.1 152.1 407.8 150.1 398.8 153.8C389.8 157.5 384 166.3 384 176L384 256L272 256C245.5 256 224 277.5 224 304L224 336C224 362.5 245.5 384 272 384L384 384L384 464C384 473.7 389.8 482.5 398.8 486.2C407.8 489.9 418.1 487.9 425 481L569 337zM224 160C241.7 160 256 145.7 256 128C256 110.3 241.7 96 224 96L160 96C107 96 64 139 64 192L64 448C64 501 107 544 160 544L224 544C241.7 544 256 529.7 256 512C256 494.3 241.7 480 224 480L160 480C142.3 480 128 465.7 128 448L128 192C128 174.3 142.3 160 160 160L224 160z" />
                        </svg>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock body %}



    <footer class="p-0 m-0 bgColorVerdeOscuroMain">

        <div class="row p-2 m-0 mb-2 mb-sm-4 justify-content-center">

            <div class="col-12 col-sm-3 mb-4 mb-sm-0 d-flex justify-content-center justify-content-sm-start">
                <img src="{% static 'img/coffee-shop.png' %}" width="100" height="100" class="my-auto">
            </div>

            <div class="col-6 col-sm-3 d-flex flex-column mb-2 mb-sm-0 text-center text-sm-start">
                <h6 class="parrafoBlanco fw-bold m-0">Ayuda</h6>

                <a class="parrafoPequeñoBlanco noDecor">Contáctanos</a>
                <a class="parrafoPequeñoBlanco noDecor">Sobre Nosotros</a>
                <a class="parrafoPequeñoBlanco noDecor">Blog</a>
                <a class="parrafoPequeñoBlanco noDecor">Reseñas</a>

            </div>

            <div class="col-6 col-sm-3 d-flex flex-column mb-2 mb-sm-0 text-center text-sm-start">
                <h6 class="parrafoBlanco fw-bold m-0">Contacto</h6>

                <a class="parrafoPequeñoBlanco noDecor">Contacto</a>
                <a class="parrafoPequeñoBlanco noDecor">Contacto Contacto</a>
                <a class="parrafoPequeñoBlanco noDecor">Contacto</a>
                <a class="parrafoPequeñoBlanco noDecor">Contacto</a>
            </div>
        </div>

        <div class="row m-0 p-0">

            <div class="col-12 text-center p-2">
                <p class="parrafoPequeñoBlanco m-0 p-0">© 2024 NovaCommerce. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
        </script>
</body>
</html>