{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Carrito | Novacommerce</title>
<link rel="stylesheet" href="{% static 'css/carrito.css' %}" />
{% endblock head %}


{% block body %}

<div class="contenedorPrincipal d-flex flex-column p-0 m-0 py-5 align-items-center">

    <div class="contentAncho d-flex flex-column">
        <h3 class="headBlanco3 align-items-start mb-0">Tu carrito</h3>
        <hr />

        <div class="m-0 p-0" id="contenedorCartasCarrito">

        </div>

        <div class="row">

            <div class="col-6">
                <p class="parrafo">Resumen</p>
                <p class="parrafoPequeño m-0 p-0">Subtotal</p>
                <p class="parrafoPequeño m-0 p-0">IVA</p>
            </div>

            <div class="col-6 text-end align-content-end">
                <p class="parrafoPequeño m-0 p-0" id="valorSubtotal">$00.000</p>
                <p class="parrafoPequeño m-0 p-0" id="valorIVA">$00.000</p>
            </div>
        </div>
        <hr />

        <div class="row align-items-center mb-2 mb-sm-4">
            <p class="col-6 head5">Total a pagar</p>
            <p class="col-6 text-end head5" id="valorTotal">$00.000</p>
        </div>

        <div class="row">

            <div class="col-6 d-flex justify-content-start">
                <button class="botonGenerico">Seguir comprando</button>
            </div>

            <div class="col-6 d-flex justify-content-end">
                <a class="botonGenerico" href="{% url 'checkout' %}">Proceder al pago</a>
            </div>
        </div>
        <hr />
    </div>
</div>

<script src="{% static 'js/carrito.js' %}"></script>

{% endblock body %}