{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Checkout | Novacommerce</title>
<link rel="stylesheet" href="{% static 'css/checkout.css' %}" />
{% endblock head %}

{% block body %}

<div class="row contenedorPrincipalCheckout mx-0">

    <div class="col-12 col-sm-4 d-flex flex-column justify-content-center contenedorIzquierda mx-0">

        <div class="d-flex justify-content-between">
            <p class="mb-0 parrafoPequeño" id="cantidadArticulos"></p>
            <a href="{% url 'carrito' %}" class="parrafoPequeño mb-0">Editar carrito</a>
        </div>

        <div id="contProductosCheckout">

            <div class="card mb-3">

                <div class="row g-0">

                    <div class="col-4 d-flex justify-content-center align-items-center">
                        <img src="{% static 'img/cafe.png' %}" class="imgCheck" alt="...">
                    </div>

                    <div class="col-8">

                        <div class="card-body">
                            <h6 class="head6 mb-0">Cafe rico</h6>
                            <p class="parrafoPequeño mb-0">$1.000</p>
                            <p class="textoMinimo mb-0">Cantidad: 1</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <p class="parrafo align-self-end mb-0" id="pSubtotal">Subtotal: $1.000</p>
        <h6 class="head6 align-self-end mb-0" id="h6Total">Total: $1.000</h6>

    </div>

    <div class="col-12 col-sm-8 contenedorDerecha mx-0">
        <form action="" id="formularioCheckout">

            <div class="input-container mb-5">
                <input type="text" id="nombreInput" class="input-field" placeholder="Nombre del cliente" required>
                <label class="input-label" for="nombreInput">Nombre</label>
                <span class="input-highlight"></span>
            </div>

            <div class="input-container mb-5">
                <input type="text" id="apellidoInput" class="input-field" placeholder="Apellido del cliente" required>
                <label class="input-label" for="apellidoInput">Apellido</label>
                <span class="input-highlight"></span>
            </div>

            <div class="input-container mb-5">
                <input type="text" id="regionInput" class="input-field" placeholder="Región" required>
                <label class="input-label" for="regionInput">Región</label>
                <span class="input-highlight"></span>
            </div>

            <div class="input-container mb-5">
                <input type="text" id="comunaInput" class="input-field" placeholder="Comuna" required>
                <label class="input-label" for="comunaInput">Comuna</label>
                <span class="input-highlight"></span>
            </div>

            <div class="input-container mb-5">
                <input type="text" id="direccionInput" class="input-field" placeholder="Calle Falsa 123" required>
                <label class="input-label" for="direccionInput">Dirección</label>
                <span class="input-highlight"></span>
            </div>

            <div class="input-container mb-5">
                <input type="number" id="telefonoInput" class="input-field" placeholder="953846738" required>
                <label class="input-label" for="telefonoInput">Teléfono</label>
                <span class="input-highlight"></span>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="botonGenerico px-4" id="botonPedido">Realizar pedido</button>
            </div>

        </form>

    </div>


</div>

<script src="{% static 'js/checkout.js' %}"></script>
{% endblock body %}