{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Métricas | Novacommerce</title>
<link rel="stylesheet" href="{% static 'css/metricas.css' %}" />
{% endblock head %}

{% block body %}

<div class="contenidoMetricas">

    <div class="superGrilla">

        <div class="contenedorMesDia contGrilla">
            <h6 class="head4">Total ventas del mes: <h5 class="head5 textoColorSuccess" id="totalMes"></h5>
            </h6>
            <h6 class="head4">Cantidad ventas del mes: <h5 class="head5 textoColorSuccess" id="cantidadMes"></h5>
            </h6>
            <h6 class="head4">Total ventas del dia: <h5 class="head5 textoColorSuccess" id="totalDia"></h5>
            </h6>
            <h6 class="head4">Cantidad ventas del dia: <h5 class="head5 textoColorSuccess" id="cantidadDia"></h5>
            </h6>
        </div>

        <div class="contenedorProdBajoStock contGrilla">

        </div>


        <div class="contenedorProdMasVendidos contGrilla">
            <canvas id="prodMasVendidos"></canvas>
        </div>

        <div class="contenedorProdMenosVendidos contGrilla">
            <canvas id="prodMenosVendidos"></canvas>
        </div>

        <div class="contenedorCatMasVendidas contGrilla">
            <canvas id="catMasVendidas" class="graficoTorta"></canvas>
        </div>

        <div class="contenedorCatMenosVendidas contGrilla">
            <canvas id="catMenosVendidas" class="graficoTorta"></canvas>
        </div>

        <div class="contHistorialVentas contGrilla">

            <div class="table-responsive tablaHistorialVentas">
                <table class="table table-striped-columns">
                    <thead>
                        <tr>
                            <th scope="col" class="parrafoPequeño">Codigo</th>
                            <th scope="col" class="parrafoPequeño">Fecha</th>
                            <th scope="col" class="parrafoPequeño">Usuario</th>
                            <th scope="col" class="parrafoPequeño">Estado</th>
                            <th scope="col" class="parrafoPequeño">Total</th>
                        </tr>
                    </thead>
                    <tbody id="tablaHistorialVentasBody">
                        <!-- filas de usuarios se agregan aqui -->
                    </tbody>
                </table>

            </div>


        </div>

    </div>
</div>



<script src="{% static 'js/metricas.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock body %}