{% extends "base.html" %}
{% load static %}

{% block head %}
<title>panelControl</title>
<link rel="stylesheet" href="{% static 'css/panelControl.css' %}">
{% endblock head %}

{% block body %}


<div class="panelControlContainer d-flex m-0 flex-column p-2 p-sm-4">

    <!-- Lista de ventas por confirmar -->

    <div class="card mx-2 mx-sm-4 p-2 p-sm-4" id="contVentasPendientes">
        <h5 class="head5 m-0 p-0 mx-auto text-center mb-3">Ventas por confirmar</h5>

        <form action="" class="row p-0 m-0 mt-4" id="buscarVentaForm">

            <div class="col-12 m-0 p-0 d-flex flex-column align-items-center">

                <div class="input-container w-100 mb-4">
                    <input type="number" id="buscarIdVentaInput" class="input-field" placeholder="Id de la venta">
                    <label class="input-label" for="buscarIdVentaInput">Id</label>
                    <span class="input-highlight"></span>
                </div>

                <button type="submit" class="botonGenerico w-50">Buscar</button>

            </div>
        </form>

        <div class="mx-2 mx-sm-4 table-responsive tablaVentConfirmar mt-4">

            <table class="table table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col" class="parrafoPequeño">Codigo</th>
                        <th scope="col" class="parrafoPequeño">Fecha</th>
                        <th scope="col" class="parrafoPequeño">Usuario</th>
                        <th scope="col" class="parrafoPequeño">Estado</th>
                        <th scope="col" class="parrafoPequeño">Confirmar</th>
                    </tr>
                </thead>
                <tbody id="tablaVentasPendientesBody">
                    <!-- filas de usuarios se agregan aqui -->
                </tbody>
            </table>

        </div>
    </div>


    <!-- formulario agregar Categoria -->

    <div class="card mx-2 mx-sm-4 p-2 p-sm-4 mt-4">
        <h5 class="head5 m-0 p-0 mx-auto text-center mb-3">Rellena el formulario para agregar una categoria</h5>
        <form action="" id="formularioCategoria" class="mt-4">

            <div class="row m-0 p-0">

                <div class="col-12 m-0 p-0 d-flex flex-column align-items-center">

                    <div class="input-container w-100 mb-4">
                        <input type="text" id="nombreCategoriaInput" class="input-field"
                            placeholder="Nombre de la categoria" required>
                        <label class="input-label" for="nombreCategoriaInput">Nombre</label>
                        <span class="input-highlight"></span>
                    </div>

                </div>

            </div>


            <div class="row m-0 p-0">
                <!-- boton enviar -->

                <div class="col-12 justify-content-center d-flex m-0 p-0 mb-sm-0 mb-2">
                    <button type="submit" class="botonGenerico w-50" id="registrarCategoriaButton">Registrar
                        categoria</button>
                </div>
            </div>
        </form>
        <!-- for later -->

    </div>

    <!-- formulario agregar Producto -->

    <div class="card mx-2 mx-sm-4 p-2 p-sm-4 mt-4">
        <h5 class="head5 m-0 p-0 mx-auto text-center mb-3" id="tituloxd">Rellena el formulario para agregar un producto
        </h5>
        <form action="" id="formularioProducto" class="mt-4">

            <div class="row m-0 p-0">

                <!-- input nombre -->

                <div class="col-12 col-sm-4 m-0 p-0 mb-5 d-flex flex-column align-items-center">

                    <div class="input-container w-95">
                        <input type="text" id="nombreInput" class="input-field" placeholder="Nombre del producto"
                            required>
                        <label class="input-label" for="nombreInput">Nombre</label>
                        <span class="input-highlight"></span>
                    </div>
                </div>

                <!-- input precio -->

                <div class="col-12 col-sm-4 m-0 p-0 mb-5 d-flex flex-column align-items-center">

                    <div class="input-container w-95">
                        <input type="number" id="precioInput" class="input-field" placeholder="Precio del producto"
                            required>
                        <label class="input-label" for="precioInput">Precio</label>
                        <span class="input-highlight"></span>
                    </div>
                </div>

                <!-- input imagen (file) -->

                <div class="col-12 col-sm-4 m-0 p-0 mb-5 d-flex flex-column align-items-center">

                    <div class="input-container w-95">

                        <input class="file-hidden" type="file" id="imgInput">
                        <label class="input-label" for="imgInput">Imagen</label>

                        <div class="file-wrapper">
                            <button type="button" class="file-button"
                                onclick="document.getElementById('imgInput').click()">
                                Seleccionar archivo
                            </button>
                            <span class="file-name" id="imgFileName">Ningún archivo</span>
                        </div>

                        <span class="input-highlight"></span>
                    </div>
                </div>

                <!-- textarea descripcion -->

                <div class="col-12 col-sm-4 m-0 p-0 mb-5 d-flex flex-column align-items-center">

                    <div class="input-container w-95">
                        <textarea class="textarea-field" id="descripcionInput" rows="3"
                            placeholder="Descripción del producto"></textarea>
                        <label class="input-label" for="descripcionInput">Descripcion</label>
                        <span class="input-highlight"></span>
                    </div>
                </div>

                <!-- input stock -->

                <div class="col-12 col-sm-4 m-0 p-0 mb-5 d-flex flex-column align-items-center">

                    <div class="input-container w-95">
                        <input type="number" id="stockInput" class="input-field" placeholder="Stock del producto"
                            required>
                        <label class="input-label" for="stockInput">Stock</label>
                        <span class="input-highlight"></span>
                    </div>
                </div>

                <!-- select categoria principal -->

                <div class="col-12 col-sm-4 m-0 p-0 mb-5 d-flex flex-column align-items-center">

                    <div class="input-container w-95">
                        <select class="select-field" id="categoriaPrincipalSelect"
                            aria-label="Selecciona una categoria">
                            <option value="" selected disabled>Selecciona una categoria</option>
                        </select>
                        <label class="input-label" for="categoriaPrincipalSelect">Categoria principal</label>
                        <span class="input-highlight"></span>
                    </div>
                </div>

                <!-- select categoria -->

                <div class="col-12 col-sm-4 m-0 p-0 mb-5 d-flex flex-column align-items-center">

                    <div class="input-container w-95">
                        <select class="select-field" id="categoriaSelect" aria-label="Selecciona una categoria">
                            <option value="" selected disabled>Selecciona una categoria</option>
                        </select>
                        <label class="input-label" for="categoriaSelect">Categoria</label>
                        <span class="input-highlight"></span>
                    </div>

                    <div class="row mt-2 w-100 gap-1" id="pillContainer">
                        <!-- Pills dinámicas aquí -->
                    </div>
                </div>

            </div>


            <div class="row m-0 p-0">
                <!-- boton limpiar formulario -->

                <div class="col-12 col-sm-6 justify-content-center d-flex m-0 p-0 mb-sm-0 mb-2">
                    <button type="reset" class="botonGenerico w-95" id="botonLimpiarFormularioProd">Limpiar
                        formulario</button>
                </div>

                <!-- boton enviar -->

                <div class="col-12 col-sm-6 justify-content-center d-flex m-0 p-0 mb-sm-0 mb-2">
                    <button type="submit" class="botonGenerico w-95" id="crearProductoButton">Registrar
                        producto</button>
                </div>
            </div>
        </form>
    </div>

    <!-- controles productos -->

    <div class="card mx-2 mx-sm-4 p-2 p-sm-4 mt-4">
        <h5 class="head5 m-0 p-0 mx-auto text-center mb-3">Controles de productos</h5>

        <form class="row p-0 m-0 mt-4" id="buscarProductoForm" class="mt-4">

            <!-- input ID -->

            <div class="col-12 col-sm-6 m-0 p-0 mb-5 d-flex flex-column align-items-center">

                <div class="input-container w-95">
                    <input type="number" id="buscarIdProductoInput" class="input-field" placeholder="Id del producto">
                    <label class="input-label" for="buscarIdProductoInput">Id</label>
                    <span class="input-highlight"></span>
                </div>
            </div>

            <!-- input Nombre -->

            <div class="col-12 col-sm-6 m-0 p-0 mb-5 d-flex flex-column align-items-center">

                <div class="input-container w-95">
                    <input type="text" id="buscarNombreProductoInput" class="input-field"
                        placeholder="Nombre del producto">
                    <label class="input-label" for="buscarNombreProductoInput">Nombre</label>
                    <span class="input-highlight"></span>
                </div>
            </div>

            <div class="col-12 text-center mb-sm-4 mb-2">
                <button type="submit" class="botonGenerico w-50">Buscar</button>
                <p class="parrafoPequeñoSuave">(deja los campos vacios antes de buscar para traer todo)</p>
            </div>
        </form>

        <div class="mx-2 mx-sm-4 table-responsive tablaProductos">
            <table class="table table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col" class="parrafoPequeño">Nombre</th>
                        <th scope="col" class="parrafoPequeño">Precio</th>
                        <th scope="col" class="parrafoPequeño">Stock</th>
                        <th scope="col" class="parrafoPequeño">Actualizar</th>
                        <th scope="col" class="parrafoPequeño">Eliminar</th>
                    </tr>
                </thead>
                <tbody id="tablaProductosBody">
                    <!-- filas de productos se agregan aqui -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- controles usuarios -->

    <div class="card mx-2 mx-sm-4 p-2 p-sm-4 mt-4">
        <h5 class="head5 m-0 p-0 mx-auto text-center mb-3">Controles de usuarios</h5>

        <form action="" class="row p-0 m-0 mt-4" id="buscarUsuarioForm">

            <!-- input ID -->

            <div class="col-12 col-sm-6 m-0 p-0 mb-5 d-flex flex-column align-items-center">

                <div class="input-container w-95">
                    <input type="number" id="buscarIdUsuarioInput" class="input-field" placeholder="Id del usuario">
                    <label class="input-label" for="buscarIdUsuarioInput">Id</label>
                    <span class="input-highlight"></span>
                </div>
            </div>

            <!-- input Nombre -->

            <div class="col-12 col-sm-6 m-0 p-0 mb-5 d-flex flex-column align-items-center">

                <div class="input-container w-95">
                    <input type="text" id="buscarUsernameUsuarioInput" class="input-field"
                        placeholder="Nombre del usuario">
                    <label class="input-label" for="buscarUsernameUsuarioInput">Nombre</label>
                    <span class="input-highlight"></span>
                </div>
            </div>

            <div class="col-12 text-center mb-sm-4 mb-2">
                <button type="submit" class="botonGenerico w-50">Buscar</button>
                <p class="parrafoPequeñoSuave">(deja los campos vacios antes de buscar para traer todo)</p>
            </div>

        </form>

        <div class="mx-2 mx-sm-4 table-responsive tablaUsuarios">
            <table class="table table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col" class="parrafoPequeño">Username</th>
                        <th scope="col" class="parrafoPequeño">Nombre</th>
                        <th scope="col" class="parrafoPequeño">Apellido</th>
                        <th scope="col" class="parrafoPequeño">Direccion</th>
                        <th scope="col" class="parrafoPequeño">Telefono</th>
                        <th scope="col" class="parrafoPequeño">Email</th>
                        <th scope="col" class="parrafoPequeño">Tipo</th>
                        <th scope="col" class="parrafoPequeño">Actualizar</th>
                        <th scope="col" class="parrafoPequeño">Eliminar</th>
                    </tr>
                </thead>
                <tbody id="tablaUsuariosBody">
                    <!-- filas de usuarios se agregan aqui -->
                </tbody>
            </table>
        </div>
    </div>

</div>
<script src="{% static 'js/panelControl.js' %}"></script>
{% endblock body %}