{% extends "base.html" %}
{% load static %}


{% block head %}
<title>Perfil</title>
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock head %}

{% block body %}

<div class="row m-0 p-2 p-sm-4 justify-content-center">

    <div class="col-12 mb-4">
        <h1 class="head1 text-center">Mi Perfil</h1>
    </div>

    <div class="container col-12 col-sm-4 d-flex m-0 flex-column mb-sm-0 mb-2">

        <div class="card h-100 text-center p-2 p-sm-4 d-flex flex-column justify-content-between">

            <div class="contInfoPersonal w-90 d-flex flex-column mx-auto">
                <h4 class="head4">Información Personal</h4>
                <h4 class="head4">{{ user.username }}</h4>


                <div class="d-flex justify-content-between">
                    <p class="parrafoPequeño"><strong>Nombre:</strong></p>
                    <p class="parrafoPequeño">{{ user.nombre|default:"No especificado" }}</p>
                </div>

                <div class="d-flex justify-content-between">
                    <p class="parrafoPequeño"><strong>Apellido:</strong></p>
                    <p class="parrafoPequeño">{{ user.apellido|default:"No especificado" }}</p>
                </div>

                <div class="d-flex justify-content-between">
                    <p class="parrafoPequeño"><strong>Email:</strong></p>
                    <p class="parrafoPequeño">{{ user.email }}</p>
                </div>

                <div class="d-flex justify-content-between">
                    <p class="parrafoPequeño"><strong>Direccion:</strong></p>
                    <p class="parrafoPequeño">{{ user.direccion|default:"No especificado" }}</p>
                </div>

                <div class="d-flex justify-content-between">
                    <p class="parrafoPequeño"><strong>Telefono:</strong></p>
                    <p class="parrafoPequeño">{{ user.telefono|default:"No especificado" }}</p>
                </div>

            </div>


            <div class="contHistVentas w-90 d-flex flex-column mx-auto scrollbarStyling gap-2">
                <h4 class="head4">Historial de Compras</h4>

                {% for venta in ventas %}

                <div class="card cartaVenta m-0 p-0">

                    <div class="card-body p-2">
                        <h5 class="head5 p-0 m-0">Compra {{ venta.id }}</h5>
                        <p class="parrafoPequeño p-0 m-0"><strong>Total:</strong> ${{ venta.totalVenta }}</p>
                        <a href="{% url 'confirmacionOrden' venta.id %}" class="textoMinimo">Ver detalles</a>
                    </div>

                </div>
                {% endfor %}

            </div>

        </div>
    </div>


    <div class="container col-12 col-sm-8 d-flex m-0 flex-column">

        <div class="card p-2 p-sm-4">
            
            <div class="card-body text-center p-0">
                <h4 class="head4 mb-3">Editar Perfil</h4>
                <input type="hidden" id="usuarioId" value="{{ user.id }}" />
                <form id="formPerfil" class="mt-4">
                    {% csrf_token %}

                    <div class="mb-5 d-flex flex-column align-items-center">

                        <div class="input-container w-95">
                            <input type="text" id="usernameInput" name="username" class="input-field"
                                placeholder="username de usuario" value="{{ user.username }}" required>
                            <label class="input-label" for="usernameInput">Username</label>
                            <span class="input-highlight"></span>
                        </div>
                    </div>

                    <div class="mb-5 d-flex flex-column align-items-center">

                        <div class="input-container w-95">
                            <input type="text" id="nombreInput" name="nombre" class="input-field" placeholder="....."
                                value="{{ user.nombre }}" required>
                            <label class="input-label" for="nombreInput">Nombre</label>
                            <span class="input-highlight"></span>
                        </div>
                    </div>

                    <div class="mb-5 d-flex flex-column align-items-center">

                        <div class="input-container w-95">
                            <input type="text" id="ApellidoInput" name="apellido" class="input-field"
                                placeholder="....." value="{{ user.apellido }}" required>
                            <label class="input-label" for="ApellidoInput">Apellido</label>
                            <span class="input-highlight"></span>
                        </div>
                    </div>

                    <div class="mb-5 d-flex flex-column align-items-center">

                        <div class="input-container w-95">
                            <input type="text" id="DireccionInput" name="direccion" class="input-field"
                                placeholder="Calle Falsa 123" value="{{ user.direccion }}" required>
                            <label class="input-label" for="DireccionInput">Direccion</label>
                            <span class="input-highlight"></span>
                        </div>
                    </div>

                    <div class="mb-5 d-flex flex-column align-items-center">

                        <div class="input-container w-95">
                            <input type="number" id="TelefonoInput" name="telefono" class="input-field"
                                placeholder="953846738" value="{{ user.telefono|default:'' }}" required>
                            <label class="input-label" for="TelefonoInput">Telefono</label>
                            <span class="input-highlight"></span>
                        </div>
                    </div>

                    <div class="mb-5 d-flex flex-column align-items-center">

                        <div class="input-container w-95">
                            <input type="email" id="EmailInput" name="email" class="input-field"
                                placeholder="Tu@email.example" value="{{ user.email }}" required>
                            <label class="input-label" for="EmailInput">Email</label>
                            <span class="input-highlight"></span>
                        </div>
                    </div>

                    <div class="mb-5 d-flex flex-column align-items-center">

                        <div class="input-container w-95">
                            <input type="password" id="passwordInput" class="input-field"
                                placeholder="Nueva contraseña">
                            <label class="input-label" for="passwordInput">Nueva contraseña</label>
                            <span class="input-highlight"></span>
                        </div>
                    </div>

                    <div class="mb-5 d-flex flex-column align-items-center">

                        <div class="input-container w-95">
                            <input type="password" id="passwordConfInput" class="input-field"
                                placeholder="Confirmar nueva contraseña">
                            <label class="input-label" for="passwordConfInput">Confirmar nueva contraseña</label>
                            <span class="input-highlight"></span>
                        </div>
                    </div>

                    <button type="submit" class="botonGenerico">Guardar cambios</button>

                </form>

            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/perfil.js' %}"></script>
{% endblock body %}