{% extends "base.html" %}
{% load static %}

{% block head %}
<title>NovaCommerce -- Producto</title>

<link rel="stylesheet" href="{% static 'css/producto.css' %}" />
{% endblock head %}

{% block body %}
<hr class="my-4">

<div class="row m-0 p-0">

    <div class="col-12 col-sm-4 align-content-center">
        <img src="{{ producto.img.url }}" alt="" class="img-fluid imgProd" />
    </div>

    <div class="col-12 col-sm-8 align-content-center">
        <h4 class="head4 mb-2 mb-sm-4">{{ producto.nombre }}</h4>
        <p class="parrafo mb-2 mb-sm-4">
            {{ producto.descripcion }}
        </p>
        <h5 class="head5 colorVerde mb-2 mb-sm-4">${{ producto.precio }}</h5>
        <h6 class="head6 mb-2 mb-sm-4">Stock disponible: {{ producto.stock }}</h6>
        <button class="btn botonGenerico2 mb-2 mb-sm-4" onclick="agregarAlCarrito('{{ producto.id }}')">
        Agregar al carrito
        </button>

        <div class="row mt-2 w-100 gap-1">
            {% for categoria in categorias %}
                <div class="col-auto p-0 m-0">
                    <p class="pill rounded-pill textoMinimoBlanco">{{ categoria.categoria.nombre }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<hr class="my-4">
<h3 class="head3 text-center mb-2">Productos relacionados</h3>

<input type="hidden" id="productoId" value="{{ producto.id }}">
<div class="d-flex flex-wrap justify-content-between gap-4 p-4 align-content-start align-items-start" id="contProdRelacionados">


</div>

<hr class="mt-3 mb-4 mt-sm-0">


<script src="{% static 'js/producto.js' %}"></script>
{% endblock body %}