{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Registro | Novacommerce</title>
<link rel="stylesheet" href="{% static 'css/registro.css' %}" />
{% endblock %}

{% block body %}

<div class="contenedorRegistro py-4 d-flex flex-column align-items-center">

    <div class="card p-5 d-flex flex-column">
        <h4 class="head4 text-center mb-4">Ingresa tus datos para crear tu cuenta</h4>

        <form action="" id="formularioRegistro" class="mt-5">

            <div class="input-container mb-5">
                <input type="text" id="usernameInput" class="input-field" required placeholder="Escribe tu usuario">
                <label class="input-label" for="usernameInput">Username</label>
                <span class="input-highlight"></span>
            </div>

            <div class="input-container mb-5">
                <input type="text" id="nombreInput" class="input-field" required placeholder="Escribe tu nombre">
                <label class="input-label" for="nombreInput">Nombre</label>
                <span class="input-highlight"></span>
            </div>

            <div class="input-container mb-5">
                <input type="text" id="apellidoInput" class="input-field" required placeholder="Escribe tu apellido">
                <label class="input-label" for="apellidoInput">Apellido</label>
                <span class="input-highlight"></span>
            </div>

            <div class="input-container mb-5">
                <input type="text" id="direccionInput" class="input-field" required placeholder="Ej: Calle Falsa 123">
                <label class="input-label" for="direccionInput">Direccion</label>
                <span class="input-highlight"></span>
            </div>

            <div class="input-container mb-5">
                <input type="number" id="telefonoInput" class="input-field" required placeholder="Ej: 987654321">
                <label class="input-label" for="telefonoInput">Telefono</label>
                <span class="input-highlight"></span>
            </div>

            <div class="input-container mb-5">
                <input type="email" id="emailInput" class="input-field" placeholder="tu@correo.com">
                <label class="input-label" for="emailInput">Email</label>
                <span class="input-highlight"></span>
            </div>

            <div class="input-container mb-5">
                <input type="password" id="passwordInput" class="input-field" required
                    placeholder="Mínimo 8 caracteres">
                <label class="input-label" for="passwordInput">Password</label>
                <span class="input-highlight"></span>
            </div>

            <div class="input-container mb-5">
                <input type="password" id="confPasswordInput" class="input-field" required
                    placeholder="Repite tu contraseña">
                <label class="input-label" for="confPasswordInput">Confirmar password</label>
                <span class="input-highlight"></span>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="botonGenerico my-2 px-4 w-50" id="crearCuentaBtn">Crear cuenta</button>
            </div>
        </form>

        <p class="parrafoPequeño m-0 text-center">
            ¿Ya tienes una cuenta?
            <a href="{% url 'sitioLogin' %}" class="parrafoPequeño">Inicia sesión</a>
        </p>
    </div>
</div>

<script src="{% static 'js/registro.js' %}"></script>
{% endblock %}