{% extends "base.html" %} 
{% load static %} 

{% block head %}
<title>Login | Novacommerce</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/registro.css' %}">
{% endblock head %} 

{% block body %}
<div class="contenedorXD d-flex flex-column py-4 align-items-center min-vh-100">

  <h1 class="headBlanco1 text-center mb-4 ">Novacommerce</h1>

  <div class="card p-4 d-flex flex-column ">
	<h2 class="parrafo text-center">Iniciar sesión</h2>

	<label for="usernameInput" class="form-label">Username</label>
	<input type="text" class="form-control mb-2" id="usernameInput" placeholder="username de usuario" required>

	<label for="passwordInput" class="form-label">Password</label>
	<input type="password" class="form-control mb-4" id="passwordInput" placeholder="*********" required>

	<button class="botonGenerico my-2 px-4">Iniciar sesión</button>
	<p class="parrafoPequeño m-0 text-center">¿No tienes una cuenta? <a href="{% url 'registro' %}">Regístrate</a></p>
  </div>
	
</div>
{% endblock body %}