{% extends "base.html" %} 
{% load static %} 

{% block head %}
<title>Login | Novacommerce</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock head %} 

{% block body %}
<section class="screen">
	<!--titulo-->
	<h1 class="headBlanco1 text-center brand-title">Novacommerce</h1>
	<!--formulario-->
	<div class="login-card mx-auto p-24 md:p-32 maxw-720">
		<div class="centrar col gap-24">
			<h2 class="parrafo col gap-24">Iniciar Sesion</h2>
			
			<div class="centrar col gap-16">
				<label class="parrafoPequeño" style="text-align: left; width: 100%; display: flex;">Email</label>
				<input type="email" class="input w-100" placeholder="Ingresa tu email">

				<label class="parrafoPequeño" style="text-align: left; width: 100%; display: flex;">Contraseña</label>
				<input type="password" class="input w-100" placeholder="Ingresa tu contraseña">
			</div>

			<div class="centrar col gap-16 mt-24">
				<button class="botonGenerico w-100">Iniciar Sesion</button>
				<p class="parrafoPequeño">¿No tienes una cuenta? 
					<a href="{% url 'registro' %}" class="link">Registrate</a>
				</p>
			</div>
		</div>
</section>
{% endblock body %}