.contenedorActualizarUsuario {
	background-color: var(--blanco);
    padding-top: 40px;
    padding-bottom: 40px;
}

.card {
    width: 95%;
}

@media (min-width: 576px) {
    .card {
        width: 70%;
    }

    .contenedorActualizarUsuario {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}