.pill {
    background-color: var(--cafeCrema);
    color: var(--blanco5);
    text-align: center;
    margin: 0;
    padding: 4px 8px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
}

.pill:hover {
    background-color: var(--cafeCrema2);
    color: var(--blanco5);
}


.contenedorRegistro {
	background-color: var(--cafeMainSecundario2);
}

.card {
    width: 95%;
}

#imgPreview {
    max-width: 300px;
    object-fit: cover;
    border-radius: 8px;
    
}

@media (min-width: 576px) {
    .card {
        width: 70%;
    }
}