.pill {
	background-color: var(--colorMarca1);
	color: var(--masBlanco);
	text-align: center;
	margin: 0;
	padding: 6px 10px;
	text-decoration: none;
	cursor: pointer;
	transition: 0.3s ease;
	border: none;
}

.pill:hover {
    background-color: color-mix(in srgb, var(--colorMarca1) 80%, black);
	color: var(--masBlanco);
}


.contenedorRegistro {
	background-color: var(--blanco);
}

.card {
    width: 95%;
}

#imgPreview {
    max-width: 300px;
    object-fit: cover;
    border-radius: 8px;

}

@media (min-width: 576px) {
    .card {
        width: 70%;
    }
}