.contenedorPrincipalCheckout {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--masBlanco);
}

@media (min-width: 576px) {
    .contenedorPrincipalCheckout {
        padding-left: 10rem;
        padding-right: 10rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        background-color: var(--masBlanco);
    }

    .contenedorIzquierda {
        border-color: var(--blanco);
        border-width: 1px;
        border-right-style: solid;
    }
}

.imgCheck {
    max-width: 100%;
}

body {
    background-color: var(--masBlanco) !important;
}