.login-card {
  background: var(--blanco10);
  border-radius: 16px;         
  box-shadow: 0 2px 4px 2px var(--gris50); 
  width: 92%;
  max-width: 720px;
  margin: 0 auto;
}
.centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
  width: 100%;
  height: 40px;                
  border-radius: 8px;          
  border: none;
  background: var(--gris25);
  padding: 0 16px;             
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: var(--negro85);
}

.input::placeholder { color: var(--gris50); opacity: 1; }
.input:focus {
  outline: 2px solid var(--azulMain);
  background: #9fb6af;
}

.screen {
    min-height: 66.9vh;
  background: var(--verdeOscuroMain2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;               /* 3*8 */
}

.brand-title {
    margin: 0 0 24px 0;
    align-items: center;
    text-align: center;
}

.p-24{padding:24px;} .mb-24{margin-bottom:24px;}
.mx-auto{margin-left:auto;margin-right:auto;}
.text-center{text-align:center;}
.w-100{width:100%;}
.dflex{display:flex;} .col{flex-direction:column;} .gap-24{gap:24px;} .gap-16{gap:16px;}

@media (min-width:768px){ .md\:p-32{padding:32px;} }