.superGrilla {
    display: grid;
    background-color: var(--blanco);
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
        "datosMesDia"
        "prodBajoStock"
        "proMasVendidos"
        "proMenosVendidos"
        "catMasVendidas"
        "catMenosVendidas"
        "historialVentas";
    gap: 16px;
    padding: 16px;
    justify-content: center;
}

.contGrilla {
    background-color: var(--masBlanco);
    border-radius: 10px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}


@media (min-width: 576px) {
    .superGrilla {
        display: grid;
        background-color: var(--blanco);
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "datosMesDia prodBajoStock"
            "datosMesDia prodBajoStock"
            "proMasVendidos catMenosVendidas"
            "proMenosVendidos catMasVendidas"
            "historialVentas historialVentas";
        gap: 16px;
        padding: 16px;
        justify-content: center;
    }

    .contenedorProdBajoStock {
        grid-area: prodBajoStock;
    }

    .contenedorProdMasVendidos {
        grid-area: proMasVendidos;
    }

    .contenedorProdMenosVendidos {
        grid-area: proMenosVendidos;
    }

    .contenedorCatMasVendidas {
        grid-area: catMasVendidas;
    }

    .contenedorCatMenosVendidas {
        grid-area: catMenosVendidas;
    }

    .contHistorialVentas {
        grid-area: historialVentas;
    }
}

.contenedorMesDia {
    grid-area: datosMesDia;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

.graficoTorta {
    max-width: 70%;
}

.contenedorProdBajoStock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 8px;
}

.cartaProductoBajoStock {
    flex-grow: 1;
    flex-basis: 150px;
    max-width: fit-content;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px solid var(--colorDanger);
}

.cartaProductoBajoStock:hover {
    background-color: var(--blanco);
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.tablaHistorialVentas {
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
}

/* sobrescribe el box-shadow de bootstrap en hover */
.table.table-striped-columns tbody tr:hover td {
	--bs-table-bg-state: var(--blanco) !important;
}

/* cambia el cursor al pasar por la fila */
.table.table-striped-columns tbody tr:hover {
	cursor: pointer;
}

/* transiciones suaves */
.table tbody td {
	transition: background-color 0.25s ease, box-shadow 0.25s ease;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: var(--blanco);
    z-index: 1;
}
