/* transiciones suaves */
.table tbody td {
	transition: background-color 0.25s ease, box-shadow 0.25s ease;
    background-color: var(--blanco);
}

.table thead th {
    background-color: var(--grisClaro);
    color: var(--negro);
}

.tablaProductos {
	max-height: 400px;
	overflow-y: auto;
}

.tablaUsuarios {
	max-height: 400px;
	overflow-y: auto;
}

.tablaVentConfirmar {
    max-height: 400px;
    overflow-y: auto;
}

/* sobrescribe el box-shadow de bootstrap en hover */
.table.table-striped-columns tbody tr:hover td {
	--bs-table-bg-state: var(--gris);
}

.pill {
	background-color: var(--colorMarca1);
	color: var(--masBlanco);
	text-align: center;
	margin: 0;
	padding: 6px 10px;
	text-decoration: none;
	cursor: pointer;
	transition: 0.3s ease;
	border: none;
}

.pill:hover {
    background-color: color-mix(in srgb, var(--colorMarca1) 80%, black);
	color: var(--masBlanco);
}

.panelControlContainer {
    background-color: var(--blanco);
}