.scrollbarStyling {
    /* scrollbar en el eje x no aplica */
    scrollbar-width: thin;
}

.cartaVenta {
    background-color: var(--blanco);
}

.contHistVentas {
    padding: 0.5rem;
    max-height: 450px;
    overflow-y: auto;
}