.pill {
	background-color: var(--colorMarca1);
	color: var(--masBlanco);
	text-align: center;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	cursor: pointer;
	transition: 0.3s ease;
	border: none;
}

.pill:hover {
    background-color: color-mix(in srgb, var(--colorMarca1) 80%, black);
	color: var(--masBlanco);
}

.imgProd {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: contain;
    object-position: center;
    display: block;
}

.cartita {
	display: flex;
	flex-direction: column;
	height: fit-content;
	min-height: 350px;
}

.flex-prod {
	flex-basis: 200px;
	max-width: 250px;
}