.pill {
    background-color: var(--azulMain);
    color: var(--blanco5);
    text-align: center;
    margin: 0;
    padding: 4px 8px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
}

.pill:hover {
    background-color: var(--azulMain2);
    color: var(--blanco5);
}