.pill {
    background-color: var(--cafeCrema);
    color: var(--blanco5);
    text-align: center;
    margin: 0;
    padding: 4px 8px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
}

.pill:hover {
    background-color: var(--cafeCrema2);
    color: var(--blanco5);
}

.imgProd {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: contain;
    object-position: center;
    display: block;
}

.cartita {
	display: flex;
	flex-direction: column;
	height: fit-content;
	min-height: 350px;
}

.flex-prod {
	flex-basis: 200px;
	max-width: 250px;
}