.carousel-item img {
  max-height: 40vh;
  object-fit: cover;
  object-position: bottom;
}

.pagination .page-item .page-link {
  color: var(--cafeMain3);
}

.pagination .page-item.active .page-link {
  background-color: var(--cafeCrema);
  border-color: var(--cafeCrema);
}

.pill {
  background-color: var(--cafeCrema);
  color: var(--blanco5);
  text-align: center;
  margin: 0;
  padding: 4px 8px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
}

.pill:hover {
  background-color: var(--cafeCrema2);
  color: var(--blanco5);
}

.cartita {
  display: flex;
  flex-direction: column;
  height: 450px;              
  border: 1px lightgray solid;
  align-items: center;
  width: 100%;
}

.cartitaImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  display: block;
  flex-shrink: 0;
}

.cartita .titulo {
  font-family: "Luxurious Roman", serif;
  font-weight: bold;
  font-size: 1.9rem;
  text-align: center;
}
.cartita .head3 {
  font-family: "Luxurious Roman", serif;
  font-weight: bold;
  font-size: 1.7rem;
  text-align: center;
}
.cartita .botonGenerico {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}