.carousel-item {
	position: relative;
}

.carousel-item img {
	max-height: 40vh;
	object-fit: cover;
	object-position: center;
	width: 100%;
	display: block;
	z-index: 1;
	position: relative;
}

.carousel-item::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
	z-index: 2;
	pointer-events: none;
}

.carousel-caption {
	position: absolute;
	z-index: 3;
}


.pagination .page-item .page-link {
	color: var(--negro);
}
.active a {
	color: var(--masBlanco) !important;
}

.pagination .page-item.active .page-link {
	background-color: var(--colorMarca1);
	border-color: var(--colorMarca1);
}

.pill {
	background-color: var(--colorMarca1);
	color: var(--masBlanco);
	text-align: center;
	margin: 0;
	padding: 6px 10px;
	text-decoration: none;
	cursor: pointer;
	transition: 0.3s ease;
	border: none;
}

.pill:hover {
    background-color: color-mix(in srgb, var(--colorMarca1) 80%, black);
	color: var(--masBlanco);
}

.cartitaImg {
	width: 100%;
	height: 250px;
	max-height: 250px;
	object-fit: contain;
	object-position: center;
	display: block;
	border-radius: 4px;
}

.cartita {
	display: flex;
	flex-direction: column;
	height: 450px;
	animation: aparecerCarta 1s ease forwards;
}



@keyframes aparecerCarta {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

