.carousel-item img {
  max-height: 40vh;
  object-fit: cover;
  object-position: bottom;
}

.pagination .page-item .page-link {
  color: var(--cafeMain3);
}

.pagination .page-item.active .page-link {
  background-color: var(--cafeCrema);
  border-color: var(--cafeCrema);
}

.pill {
  background-color: var(--cafeCrema);
  color: var(--blanco5);
  text-align: center;
  margin: 0;
  padding: 4px 8px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
}

.pill:hover {
  background-color: var(--cafeCrema2);
  color: var(--blanco5);
}